*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: blanchedalmond;
    
    
}
/* Nav style  */
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 30px; */
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    justify-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    padding: 6px;
}

/* Influencer Styles */
.influencer {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.influencer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.influencer-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;

   
}
.animation-img:hover{
    transform: scale(1.1) rotate(30deg);
    transition: transform 2s ease-in;
}
.button{
    background-color: #E02C6D;
    color: white;
    border: 2px solid #E02C6D;
    padding: 10px 24px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
}
.fa-arrow-right{
    margin-left: 5px;
}
.influencer-right img{
    width: 440px;
    height: 400px;
}
h1,h3,h2,p{
    color: #3a3a3a;
    padding-bottom: 16px;
}
p{
    font-size: 14px;
}
/* Popular collection/ Card Styles */
.popular-collection {
    margin-top: 60px;

   
}



.product-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px ;
    grid-row-gap: 10px;

   
}

.card , .sponsor-card{
    background-color: white;
    border-radius: 10px;
    border-style: none;
    /* box-shadow: 2px black; */
    padding: 30px;
}
.card-header{
    text-align: center;
}

.card .banner img{
    height: 255px;
    width: 300px;
}
.card-title{
    color: #18191f;
    font-weight: 550;
}
.fillcolor{
    color: #fbb200;
    font-size: 11px;
}
.ratings{
    display: flex;
    
    
}
.ratings p{
    font-size: 14px;
    padding: 2px;
    
    
}
.card-details{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.see-more{
    margin-top: 10px;
    text-align: end;
    color: #E02C6D;
    font-weight: 700;
}
/* Sponsors Style  */
.sponsor-box{   
    text-align: center; 
    margin-top: 15px;
}   
span{
    color: #E02C6D;
}
.sponsor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-items: center; */
    grid-column-gap: 10px ;
    
}
.sponsor-card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.sponsor-photo img{
    
    width: 300px;
    height: 255px;
    margin: 10px 15px;
    border-radius: 5px;

}
.sponsor-details{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
}



/* Footer style  */
footer{
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    
}

.footer-text  {
    color: white;
    padding-top: 10px;
}

.media{
    margin-top: -10px;
    padding: 10px;
    height: 13px;
    width: 15px;
}